.pagination {

    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.prevElements {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-right: 420px;
    cursor: pointer;
}

.nextElements {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-right: -420px;
    cursor: pointer;
    box-sizing: border-box;
}

.ulBlock {

    display: flex;
    align-items: center;
    width: 315px;
    height: 80px;
    border: 3px solid red;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}

.ulList {
    display: flex;
    list-style-type: none;
    position: absolute;
}

.pageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    cursor: pointer;
    box-sizing: border-box;

}

.pageItem:hover {
    border: 2px solid red;
}

.pageItem a {
    color: black;
    text-decoration: none;
}

.pageItem:hover a {
    color: red;
}

