.postsBlock {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;

}

.postsBlockInfo {

    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
    color: gold;
    border-radius: 12px;

}