@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.UserBlock {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid gold;
    border-radius: 10px;
    width: 28%;
    min-height: 300px;
    row-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: #fae6cb;
    overflow: hidden;
    font-family: Dialog,cursive;
    text-align: center;
    color: #6c6027;

}

.UserBlock:hover {
    /*outline: 2px solid red;*/
    border: 5px solid red;
    cursor: pointer;
}

.UserBlock img {

    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: 500ms;
    cursor: pointer;
}

.UserBlock:hover img {
    transform: scale(1.1);
}