.postInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    color: gold;
}